[bumpversion]
current_version = 5.0.5.dev
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(.(?P<suffix>.+))?
serialize = 
	{major}.{minor}.{patch}.{suffix}
	{major}.{minor}.{patch}

[bumpversion:part:suffix]
optional_value = final
values = 
	dev
	final

[bumpversion:file:nbformat/_version.py]
parse = (?P<major>\d+),\s*(?P<minor>\d+),\s*(?P<patch>\d+)(,\s*['"](?P<suffix>\w+)['"])?
serialize = 
	{major}, {minor}, {patch}, '{suffix}'
	{major}, {minor}, {patch}

[bumpversion:file:docs/conf.py]
parse = (?P<major>\d+).(?P<minor>\d+)
serialize = {major}.{minor}
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:package.json]
parse = (?P<major>\d+).(?P<minor>\d+).(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

